<!DOCTYPE html>
<html lang="">

<head>
  <!-- Well, you look intrigued about the code 
       There's nothing pretty around here.
       But mehh...have fun!
  -->


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EKANS</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">
  <!-- <script src="libraries/p5.min.js"></script>
  <script src="libraries/addons/p5.sound.min.js"></script> -->

  <!-- <script src="src/build.js"></script> -->
  <!-- <script src="index.js"></script> -->
  <script src="sketch.js"></script>
  <script src="app.js"></script>
  <!-- <script src="server.js"></script> -->
  <!-- <script src="build/api.js"></script> -->
  

  <!-- Thanks for letting me use the icon GoodWare https://www.flaticon.com/authors/good-ware -->
  <!-- <link rel="icon" href="sketch/snake.png" /> -->

    <!-- p5JS -->
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"
      integrity="sha256-Pg1di+fBF53Rbh9oZR/FeD1xsFzTLC963lcac1D0ias="
      crossorigin="anonymous"
    ></script> 
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/addons/p5.sound.min.js"
      integrity="sha256-UySade9ZHGHdcdkTGEpftp/ZZbn9HYCe53RkvVFm9sM="
      crossorigin="anonymous"
    ></script>

  <!-- Styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  
  <!-- jQuery and JS bundle w/ Popper.js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</head>

<body>
  <div class="banner">
    <h1>
      <!-- <img style="filter: invert(1);transform: scaleX(-1);" src="src/header.svg" width="30px" alt="">  -->
      E K A N S
    </h1>
  </div>
  
  <div class="container-fluid">
    <div class="make_mid">
      <div id="canv_holder">

      </div>
  </div>
  </div>
  
<script>

</script>
</body>
</html>